<template>
  <div class="flex flex-row ml-2 my-2 text-gray-200 w-full">
    <div class="flex flex-grow flex-col justify-between">
      <div class="pr-3">
        <div class="cursor-pointer" v-if="item.image !== ''" @click="showImage = !showImage">
          {{ item.name }} 📷
        </div>
        <div v-else>
          {{ item.name }}
        </div>
      </div>
      <div class="italic text-sm mx-3">
        {{ item.description }}
      </div>
    </div>
    <div class="self-start">
      {{ getPrice(item.price) }}
    </div>
    <div
      v-if="showImage"
      class="fixed flex top-0 left-0 w-full h-full"
      @click="showImage = !showImage"
    >
      <div class="absolute top-0 left-0 w-full h-full bg-black opacity-75" />
      <div class="image m-auto opacity-100 max-w-xl z-10">
        <img :src="item.image" />
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import Vue from 'vue'

export default Vue.extend({
  props: {
    item: {
      type: Object,
      required: true,
    },
  },
  data() {
    return {
      showImage: false,
    }
  },
  methods: {
    getPrice(price: number | string) {
      if (typeof price === 'number') {
        return price.toFixed(2).replace('.', ',')
      } else {
        return price
      }
    },
  },
})
</script>

<style>
.MuximasLogo {
  animation: 3s appear;
  margin: auto;
}

@keyframes appear {
  0% {
    opacity: 0;
  }
}
</style>
