<template>
  <div class="my-5 ml-2 mr-5 text-gray-200 w-full">
    <div class="fixed bg-black h-20 w-full top-0 left-0">
      <div class="flex flex-grow flex-row justify-between m-auto pt-3">
        <div class="flex w-2/12" />
        <div class="flex w-5/12 items-center justify-center" />
        <div class="w-64 cursor-pointer">
          <router-link to="/">
            <img src="../assets/logo.dark.bg.new.svg" />
          </router-link>
        </div>
        <div class="flex w-5/12 items-center justify-center cursor-pointer">
          <div class="text-xl" @click="close_all">🦕</div>
        </div>
        <div class="flex w-2/12" />
      </div>
    </div>
    <Section class="static mt-20" :sections="menu" />
  </div>
</template>

<script lang="ts">
import Vue from 'vue'
import { IMenu } from '../src/interfaces'
import menuRaw from '../assets/menu.json'
import Section from './Section.vue'

const addShow = (menu: any) => {
  for (const sections of menu as any) {
    if (sections.items) {
      sections.show = false
      sections.items = addShow(sections.items)
    }
  }
  return menu
}

const menuWithShow = addShow(menuRaw)
const menu = menuWithShow as IMenu[]

export default Vue.extend({
  components: {
    Section,
  },
  data() {
    return {
      menu,
    }
  },
  methods: {
    close_all() {
      for (const sections of this.menu as any) {
        if (sections.items) {
          sections.show = false
          sections.items = addShow(sections.items)
        }
      }
    },
  },
})
</script>

<style>
.MuximasLogo {
  animation: 3s appear;
  margin: auto;
}

@keyframes appear {
  0% {
    opacity: 0;
  }
}
</style>
