<template>
  <div class="ml-1 text-gray-200">
    <div v-for="section in sections" :key="section.name" class="my-2 text-xl">
      <div @click="section.show = !section.show" class="flex flex-row justify-between cursor-pointer">
        <div>
          {{ section.name }}
        </div>
        <div class="font-mono cursor-pointer">
          {{ section.show ? '-' : '+' }}
        </div>
      </div>
      <div v-if="section.show">
        <div
          v-for="item in section.items"
          :key="item.name"
          class="pl-2 text-base"
        >
          <div v-if="!item.hasOwnProperty('items')" class="flex flex-row justify-between">
            <Item :item="item" />
          </div>
          <div v-else>
            <Section :sections="[item]" />
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import Vue from 'vue'
import Item from './Item.vue'

export default Vue.extend({
  name: "Section",
  components: {
    Item
  },
  props: ['sections']
})
</script>

<style>
.MuximasLogo {
  animation: 3s appear;
  margin: auto;
}

@keyframes appear {
  0% {
    opacity: 0;
  }
}
</style>
