<template>
  <div class="MuximasLogo w-2/3 max-w-lg">
    <img src="../assets/logo.dark.bg.new.svg" />
    <div
      class="my-10 text-gray-200 text-sm md:text-lg flex flex-row justify-around"
    >
      <div>
        <router-link to="mobile"> Cardápio virtual </router-link>
      </div>
    </div>
  </div>
</template>

<style>
.MuximasLogo {
  animation: 3s appear;
  margin: auto;
}

@keyframes appear {
  0% {
    opacity: 0;
  }
}
</style>
